<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <!-- <ul>
        <% sql.forEach(function(patient){ %>
            <li>
                <b>Patient Name: </b><%= patient.FirstName + " " + patient.LastName %>
            
            </li>
            
        <% }); %>
        </ul>
        -->
        <ul>
            <li><%= appdata.FirstName %></li>
            
        </ul>
    </body>



</html>