<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% sql.forEach(function(patient){ %>
            <li>
                <b>Patient Name: </b><%= patient.FirstName + " " + patient.LastName %>
            
            </li>
            
        <% }); %>
        </ul>
        
    </body>



</html>